* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feedButton{
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #11490a;
  text-transform: uppercase;
  margin: 15px;
  width: 100px;
  height: 50px;
}